.option2 {
    border-left: 5px solid #010058af;
    background-color: var(--Border-color);
    color: white;
    cursor: pointer;
}

.option2:hover {
    border-left: 5px solid #010058af;
    background-color: var(--Border-color);
}

.report-topic-heading,
.item1 {
    display: flex;
    align-items: center;
}

.t-op {
    font-size: 18px;
    letter-spacing: 0px;
    width: 20%;
}

.items {
    margin-top: 15px;
}

.item1 {
    margin-top: 20px;
}

.t-op-nextlvl {
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 600;
    min-width: 20%;
}

/* Responsive CSS Here */
@media screen and (max-width: 950px) {
    .report-topic-heading,
    .item1,
    .items {
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    .report-topic-heading,
    .item1,
    .items {
        width: 700px;
    }
}

@media screen and (max-width: 490px) {
    .report-topic-heading,
    .item1,
    .items {
        width: 550px;
    }
}

@media screen and (max-width: 320px) {
    .t-op {
        font-size: 12px;
    }

    .report-topic-heading,
    .item1,
    .items {
        width: 300px;
    }
}

.input {
    width: 100%;
}